span {
	background: #f99;
	padding: 0 1em;
}

/*
em {
	position:relative;
	top:2em;
	left: 2em;
	padding: 0 1em;
	background: #C00;
	color: white;
	font-weight: bold;
}
*/

em {
	position:absolute;
	top:2em;
	left: 2em;
	padding: 0 1em;
	background: #C00;
	color: white;
	font-weight: bold;
}